@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>To write blog posts you have to use login "Member1@email.com"</p>
<p>To write comments you have to use login "Customer(1, 2, 3, 4, 5)email.com"</p>
<p>The password for all logins is "Password123!"</p>