@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<address>
    <strong>Student Email Address </strong> <a href="mailto:865269@swansea.ac.uk">865269@swansea.ac.uk</a><br />
</address>
